!!!XML
%html
  %head
    %title websocket test
    %script{:type => 'text/javascript', :src => "./jquery.js"}
    %script{:type => 'text/javascript', :src => "./ws-test.js"}
  %body
    %form#message
      %input{:id => 'message', :type => 'text', :name => 'message', :size => 50, :value => 'ぺろぺろ'}
      %input{:id => 'post', :type => 'button', :value => 'post'}
    %div#chat